<div class="container">
  <div class="container-item">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="personal">
        <p>Personal Information</p>
      </mat-button-toggle>
      <mat-button-toggle value="education">
        <p>Education</p>
      </mat-button-toggle>
      <mat-button-toggle value="scores">
        <p>Test Scores</p>
      </mat-button-toggle>
      <mat-button-toggle value="transcript">
        <p>Transcripts</p>
      </mat-button-toggle>
      <mat-button-toggle value="documents">
        <p>Required Documents</p>
      </mat-button-toggle>
      <mat-button-toggle value="experience">
        <p>Experiences</p>
      </mat-button-toggle>
      <mat-button-toggle value="recommendation">
        <p>Recommendation Letters</p>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="container-item form-container">
    <!-- Profile Form -->
    <form class="form" *ngIf="!group.value || group.value === 'personal'">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="First Name" value="Serena" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" value="Li" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone Number" value="(123) 456-7890" />
      </mat-form-field>

      <p>
        <mat-form-field class="full-width">
          <input matInput placeholder="Address" value="1600 Sample Pkwy APT 205" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Address 2" />
        </mat-form-field>
      </p>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="City" value="New York City" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="State" value="NY" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input
                matInput
                #postalCode
                maxlength="5"
                placeholder="Postal Code"
                value="94043"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>

    <!-- EDUCATION FORM -->
    <form class="form" *ngIf="group.value === 'education'">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Country" value="United State" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Institution"
                value="Columbia University"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Phone Number"
                value="(212) 854-1754"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field class="full-width">
          <input matInput placeholder="Address" value="116th St & Broadway" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Address 2" />
        </mat-form-field>
      </p>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="City" value="New York City" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="State" value="NY" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input
                matInput
                #postalCode
                maxlength="5"
                placeholder="Postal Code"
                value="10027"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Starting Date" value="Jul-07-2014" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="(Expected) Graduation Date"
                value="May-07-2018"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="full-width">
        <input matInput placeholder="Degree Type" value="Bachelor of Science" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Major / Field of Study"
          value="Computer Science"
        />
      </mat-form-field>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="GPA" value="3.83" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="GPA Type" value="US Standard" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <button mat-stroked-button>Add School</button>
    </form>

    <!-- TEST SCORE FORM -->
    <form class="form" *ngIf="group.value === 'scores'">
      <p>
        <b>Status: </b>Sent
        <span style="font-size: 13px; color: green;">
          <i class="fas fa-check-circle"></i>
        </span>
      </p>
      <br />

      <mat-form-field class="full-width">
        <input matInput placeholder="Test Type" value="GRE" />
      </mat-form-field>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Verbal Reasoning" value="165" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Analytical Writing" value="4.5" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Quantitative Reasoning"
                value="170"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <button mat-stroked-button>Add Another Test Score</button>
    </form>

    <!-- TRANSCRIPT -->
    <form class="form" *ngIf="group.value === 'transcript'">
      <div style="margin-left: 15px">
        <p class="title">Upload Your Transcript</p>
        <p>
          <span class="small-title">Transcript.pdf </span> Uploaded
          <span style="font-size: 13px; color: green;">
            <i class="fas fa-check-circle"></i>
          </span>
        </p>
        <button mat-stroked-button>Upload Another Transcript</button>
      </div>
    </form>

    <!-- REQUIRED DOCUMENT FORM -->
    <form class="form" *ngIf="group.value === 'documents'">
      <div style="margin-left: 15px">
        <p class="title">Upload Your Resume</p>
        <p>
          <span class="small-title">Resume.pdf </span> Uploaded
          <span style="font-size: 13px; color: green;">
            <i class="fas fa-check-circle"></i>
          </span>
        </p>
        <button mat-stroked-button>Upload Another Resume</button>
      </div>
      <div style="margin-left: 15px; margin-top: 50px">
        <p class="title">Upload Your Personal Statement</p>
        <p>
          <span class="small-title">Personal Statement.pdf</span> Uploaded
          <span style="font-size: 13px; color: green;">
            <i class="fas fa-check-circle"></i>
          </span>
        </p>
        <button mat-stroked-button>Upload Another Personal Statement</button>
      </div>
    </form>

    <!-- EXPERIENCE FORM -->
    <form class="form" *ngIf="group.value === 'experience'">
      <mat-form-field class="full-width">
        <input matInput placeholder="Country" value="United State" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Company Name" value="Facebook, Inc." />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Position"
          value="Software Engineer Summer Intern"
        />
      </mat-form-field>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Start Date" value="Jun-07-2018" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="End Date" value="Aug-15-2018" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <button mat-stroked-button>Add Another Position</button>
    </form>

    <!-- RECOMMENDATION LETTER -->
    <form class="form" *ngIf="group.value === 'recommendation'">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field style="width: 100px">
              <input matInput placeholder="First Name" value="William" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="width: 100px">
              <input matInput placeholder="Last Name" value="Wang" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="width: 200px">
              <input
                matInput
                placeholder="Email"
                value="william.wang@columbia.edu"
              />
            </mat-form-field>
          </td>
          <td>
            <p>
              Letter Received
              <span style="font-size: 13px; color: green;">
                <i class="fas fa-check-circle"></i>
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field style="width: 100px">
              <input matInput placeholder="First Name" value="Tom" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="width: 100px">
              <input matInput placeholder="Last Name" value="Mitchell" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="width: 200px">
              <input
                matInput
                placeholder="Email"
                value="tom.mitchell@columbia.edu"
              />
            </mat-form-field>
          </td>
          <td>
            <p>
              Letter Pending
            </p>
          </td>
        </tr>
      </table>

      <button mat-stroked-button>Add Another Recommender</button>
    </form>
  </div>
  <!-- END OF FORM-CONTAINER-->
</div>
