<style>
  i {
    vertical-align: middle;
  }

  .small-margin {
    margin: 10px;
  }
</style>

<div>
  <div class="small-margin">Question Type</div>
  <br/>
  <button mat-button>
    <i class="material-icons">format_list_bulleted</i>Multiple Choice
  </button>
  <br/>
  <button mat-button>
    <i class="material-icons">check_circle</i>Checkboxes
  </button>
  <br/>
  <button mat-button>
    <i class="material-icons">arrow_drop_down_circle</i>Dropbox
  </button>
  <br/>
  <button mat-button>
    <i class="material-icons">flip_to_back</i>Single Textbook
  </button>
  <br/>
  <button mat-button>
    <i class="material-icons">toggle_on</i>Slider
  </button>
  <br/>
</div>
