#application-tracker-container {
	width: 1250px;
  margin: 20px auto;
}

#application-tracker {
  width: 100%;
}

table {
  width: 100%;
}

td {
  padding-right: 15px !important;
}

.container {
  margin: 10px 30px 5px 30px;
}
