<div class="container">
  <table mat-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- university Column -->
    <ng-container matColumnDef="university">
      <th mat-header-cell *matHeaderCellDef>UNIVERSITY</th>
      <td mat-cell *matCellDef="let element">{{ element.university }}</td>
    </ng-container>

    <!-- program Column -->
    <ng-container matColumnDef="program">
      <th mat-header-cell *matHeaderCellDef>PROGRAM</th>
      <td mat-cell *matCellDef="let element">{{ element.program }}</td>
    </ng-container>

    <!-- deadline Column -->
    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef>DEADLINE</th>
      <td mat-cell *matCellDef="let element">{{ element.deadline }}</td>
    </ng-container>

    <!-- completion Column -->
    <ng-container matColumnDef="completion">
      <th mat-header-cell *matHeaderCellDef>COMPLETION</th>
      <td
        mat-cell
        *matCellDef="let element"
        style="padding-right: 20px !important"
      >
        <mat-progress-bar
          mode="determinate"
          value="{{ element.completion }}"
          matTooltip="{{ 'Application ' + element.completion + '% complete' }}"
          style="width: 130px;"
        ></mat-progress-bar>
      </td>
    </ng-container>

    <!-- missing Column -->
    <ng-container matColumnDef="missing">
      <th mat-header-cell *matHeaderCellDef>MISSING</th>
      <td mat-cell *matCellDef="let element">{{ element.missing }}</td>
    </ng-container>

    <!-- website Column -->
    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>MORE INFORMATION</th>
      <td mat-cell *matCellDef="let element">
        <a href="{{ element.website }}">Program Website</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
