mat-toolbar-row {
  justify-content: space-between;
}

#company-name {
  font-family: 'Questrial', sans-serif;
}

#logo {
  height: 30px;
  border-radius: 5px;
  vertical-align: middle;
}

.log-out-btn {
  border: 1px solid white;
}

.small-margin {
  margin: 5px;
}

.background-image {
  background-image: url("../assets/home-background.png");
  background-size: 200px 200px;
}
