<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: space-between">
    <span class="logo">Voyage</span>
    <p>
      <span
        ><button mat-button class="toolbar-btn" routerLink="">
          Program Finder
        </button></span
      >
      <span>
        <!-- <a [routerLink]="['application-tracker', username]">{{ username }}</a> -->

        <button mat-button class="toolbar-btn" [matMenuTriggerFor]="menu">
          {{ username }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['user-profile', username]">
            Profile
          </button>
          <button
            mat-menu-item
            [routerLink]="['application-tracker', username]"
          >
            Track your applications
          </button>
        </mat-menu>
      </span>
    </p>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
