<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: space-between">
    <span class="logo">Voyage</span>
    <p>
      <span
        ><button mat-button class="toolbar-btn" routerLink="">
          Program Finder
        </button></span
      >
      <span>
        <button
          mat-button
          class="toolbar-btn"
          [routerLink]="['user', username]"
        >
          {{ username }}
        </button>
      </span>
    </p>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
