.container {
  width: 90%;
  height: 500px;
  margin: 10px;
  display: flex;
}

.container-item {
  flex-direction: row;
}

.form-container {
  margin-top: 1%;
}
.mat-button-toggle-group {
  flex-direction: column;
}

.form {
  margin-left: 5%;
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-button-toggle-group-appearance-standard,
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  border: none;
}

.mat-expansion-panel-header {
  width: 250px !important;
  height: 48px !important;
  font-size: 12px !important;
  padding: 0px 17px;
}

.mat-button-toggle-checked {
  background-color: #e0e0e000 !important;
}

.mat-expansion-panel-content {
  font-size: 12px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px 20px 6px 17px !important;
  text-align: left !important;
  font-size: 12px !important;
  line-height: 7px !important;
}
