<div class="container">
  <div class="container-item">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="columbia">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Columbia University
              </mat-panel-title>
              <mat-panel-description>
                New York, NY
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <p><b>Phone:</b> (212) 854-2522</p>
              <p><b>Fax:</b> (212) 854-1209</p>
              <p><b>Email: </b>ugrad-ask@columbia.edu</p>
              <p><b>Application Fee: </b>$85</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-button-toggle>
      <mat-button-toggle value="mit">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Harvard University
              </mat-panel-title>
              <mat-panel-description>
                Cambridge, MA
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <p><b>Phone:</b>(617) 495-1551</p>
              <p><b>Fax:</b> (617) 495-2232</p>
              <p><b>Email: </b>college@fas.harvard.edu</p>
              <p><b>Application Fee: </b>$75</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-button-toggle>
      <mat-button-toggle value="princeton">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Princeton University
              </mat-panel-title>
              <mat-panel-description>
                Princeton, NJ
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <p><b>Phone:</b> (609) 258-3060</p>
              <p><b>Fax:</b> (609) 258-1209</p>
              <p><b>Email: </b>uaoffice@princeton.edu</p>
              <p><b>Application Fee: </b>$75</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="container-item form-container">
    <form class="form" *ngIf="group.value === 'columbia'">
      <mat-form-field class="full-width">
        <input matInput placeholder="COUNTRY" value="United State" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="SCHOOL NAME"
          value="SUNY Stony Brook University"
        />
      </mat-form-field>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="STARTING DATE" value="JUL-07-2014" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="(EXPECTED) GRATUATE DATE"
                value="MAY-07-2018"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="full-width">
        <input matInput placeholder="DEGREE TYPE" value="Bachelor of Science" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="MAJOR / FIELD OF STUDY"
          value="Computer Science"
        />
      </mat-form-field>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="GPA" value="3.83" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="GPA TYPE" value="US Standard" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <button mat-stroked-button>Add School</button>
    </form>
  </div>
</div>
