<div class="container">
  <div class="container-item">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="columbia">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Columbia University
              </mat-panel-title>
              <mat-panel-description>
                New York, NY
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <p><b>Phone:</b> (212) 854-2522</p>
              <p><b>Fax:</b> (212) 854-1209</p>
              <p><b>Email: </b>ugrad-ask@columbia.edu</p>
              <p><b>Application Fee: </b>$85</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-button-toggle>
      <mat-button-toggle value="harvard">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Harvard University
              </mat-panel-title>
              <mat-panel-description>
                Cambridge, MA
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <p><b>Phone:</b>(617) 495-1551</p>
              <p><b>Fax:</b> (617) 495-2232</p>
              <p><b>Email: </b>college@fas.harvard.edu</p>
              <p><b>Application Fee: </b>$75</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-button-toggle>
      <mat-button-toggle value="princeton">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Princeton University
              </mat-panel-title>
              <mat-panel-description>
                Princeton, NJ
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <p><b>Phone:</b> (609) 258-3060</p>
              <p><b>Fax:</b> (609) 258-1209</p>
              <p><b>Email: </b>uaoffice@princeton.edu</p>
              <p><b>Application Fee: </b>$75</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="container-item form-container">
    <form class="form" *ngIf="!group.value || group.value === 'columbia'">
      <mat-form-field class="full-width">
        <input matInput placeholder="PREFERRED START TERM" value="FALL 2020" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="PREFERRED ADMISSION PLAN"
          value="REGULAR"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="NEED-BASED FINANCIAL AID" value="No" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="FELLOWSHIP" value="GEM Fellowship" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="PORTFOLIO" value="" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="HAVE YOU EVER BEEN ISSUED DISCIPLINE, PLACED ON PROBATION, SUSPENDED, OR DISMISSED FROM AN EDUCATIONAL INSTITUTION?"
          value="No"
        />
      </mat-form-field>
    </form>
    <form class="form" *ngIf="group.value === 'harvard'">
      <mat-form-field class="full-width">
        <input matInput placeholder="PREFERRED START TERM" value="FALL 2020" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="PREFERRED ADMISSION PLAN"
          value="REGULAR"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="PORTFOLIO" value="" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="NEED-BASED FINANCIAL AID" value="No" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="FELLOWSHIP" value="" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="ARE YOU A VETERAN?" value="" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="HAVE YOU EVER BEEN ISSUED DISCIPLINE, PLACED ON PROBATION, SUSPENDED, OR DISMISSED FROM AN EDUCATIONAL INSTITUTION?"
          value=""
        />
      </mat-form-field>
    </form>
    <form class="form" *ngIf="group.value === 'princeton'">
      <mat-form-field class="full-width">
        <input matInput placeholder="PREFERRED START TERM" value="FALL 2020" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="PREFERRED ADMISSION PLAN"
          value="REGULAR"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="NEED-BASED FINANCIAL AID" value="No" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="FELLOWSHIP" value="" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="PORTFOLIO" value="" />
      </mat-form-field>
    </form>
  </div>
</div>
