<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <img [src]="logoPath" id="logo" class="small-margin">
      <span id="company-name" class="small-margin">Voyage</span>
    </span>
    <button mat-stroked-button routerLink="" class="log-out-btn small-margin">
      Log Out
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group id="dashboard">
  <mat-tab label="My Profile">
    <app-user-profile></app-user-profile>
  </mat-tab>
  <mat-tab label="My Programs">
    <app-user-programs></app-user-programs>
  </mat-tab>
  <mat-tab label="Application Dashboard">
    <app-application-tracker></app-application-tracker>
  </mat-tab>
  <mat-tab label="Program Finder">
    <app-program-finder></app-program-finder>
  </mat-tab>
</mat-tab-group>
