mat-toolbar-row {
  justify-content: space-between;
}

#company-name {
  font-family: 'Questrial', sans-serif;
}

#logo {
  height: 30px;
  border-radius: 5px;
  vertical-align: middle;
}

.log-out-btn {
  border: 1px solid white;
}

.small-margin {
  margin: 5px;
}

#students-container {
  width: 1250px;
  margin: 20px auto;
}
