<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <img [src]="logoPath" id="logo" class="small-margin">
      <span id="company-name" class="small-margin">Voyage</span>
    </span>
    <button mat-stroked-button routerLink="" class="log-out-btn small-margin">
      Log Out
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Pending">
    <app-pending-applicants></app-pending-applicants>
  </mat-tab>
  <mat-tab label="Accepted">

  </mat-tab>
  <mat-tab label="Rejected">

  </mat-tab>
  <mat-tab label="Insights">

  </mat-tab>
</mat-tab-group>
