<img class="background" src="../../assets/home-background.png">

<div id="home-container">
  <img id="logo" [src]="logo" />
  <h1 class="big small-margin">Voyage</h1>
  <h3 class="medium small-margin">The journey begins</h3>

  <div id="log-in" class="mat-elevation-z4">
    <button
      mat-stroked-button
      *ngFor="let option of options"
      (click)="selectOption(option)"
      class="log-in-option"
      [ngClass]="{'selected-option': option === selectedOption}">
      {{option | titlecase}}
    </button>

    <div class="small-margin">
      <mat-form-field *ngIf="isAdmissions">
        <input matInput placeholder="Institution">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field>
    </div>
    <a mat-raised-button *ngIf="selectedOption === 'applicants'" [routerLink]="['applicants']" class="log-in-option" color="primary">
      Log In
    </a>
    <a mat-raised-button *ngIf="selectedOption === 'admissions'" [routerLink]="['admissions']" class="log-in-option" color="primary">
      Log In
    </a>
  </div>
</div>
