.container {
  width: 90%;
  height: 500px;
  margin: 10px;
  display: flex;
}

.container-item {
  flex-direction: row;
}

.form-container {
  margin-top: 1%;
  margin-left: 1%;
}
.mat-button-toggle-group {
  flex-direction: column;
}

.form {
  margin-left: 5%;
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

button {
  font-size: 11px;
  padding: 0px 9px;
  font-weight: 400;
  line-height: 26px;
}

.small-title {
  font-weight: bold;
  margin-right: 5px;
}

.title {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.59);
  padding-bottom: 8px;
}

::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 20px !important;
}
