<div class="container">
  <div class="container-item">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="personal">
        <a>Personal Infomation</a>
      </mat-button-toggle>
      <mat-button-toggle value="education">
        <a>Education</a>
      </mat-button-toggle>
      <mat-button-toggle value="scores">
        <a>Test Scores</a>
      </mat-button-toggle>
      <mat-button-toggle value="transcript">
        <a>Transcripts</a>
      </mat-button-toggle>
      <mat-button-toggle value="documents">
        <a>Required Documents</a>
      </mat-button-toggle>
      <mat-button-toggle value="experience">
        <a>Experiences</a>
      </mat-button-toggle>
      <mat-button-toggle value="recommendation">
        <a>Recommendation Letter</a>
      </mat-button-toggle>
      <mat-button-toggle value="fee">
        <a>Application Fee</a>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="container-item form-container">
    <!-- Profile Form -->
    <form class="form" *ngIf="group.value === 'personal'">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="FIRST NAME" value="Serena" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="LAST NAME" value="Li" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field>
        <mat-label>GENDER</mat-label>
        <mat-select>
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="ADDRESS">1600 Sample Pkwy</textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="ADDRESS 2"></textarea>
        </mat-form-field>
      </p>

      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="CITY" value="New York City" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="STATE" value="NY" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input
                matInput
                #postalCode
                maxlength="5"
                placeholder="POSTAL CODE"
                value="94043"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>

    <!-- TEST SCORE FORM -->
    <form class="form" *ngIf="group.value === 'education'">Education Form</form>

    <!-- TEST SCORE FORM -->
    <form class="form" *ngIf="group.value === 'scores'">Test Scores Form</form>

    <!-- TRANSCRIPT -->
    <form class="form" *ngIf="group.value === 'transcript'">
      Transcript Form
    </form>

    <!-- REQUIRED DOCUMENT FORM -->
    <form class="form" *ngIf="group.value === 'documents'">Documents Form</form>

    <!-- EXPERIENCE FORM -->
    <form class="form" *ngIf="group.value === 'experience'">
      Experience Form
    </form>

    <!-- RECOMMENDATION LETTER -->
    <form class="form" *ngIf="group.value === 'recommendation'">
      Recommendation Form
    </form>

    <!-- PAY FEE -->
    <form class="form" *ngIf="group.value === 'fee'">Fee</form>
  </div>
  <!-- END OF FORM-CONTAINER-->
</div>
<div class="example-selected-value">Selected value: {{ group.value }}</div>
